<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96496652001-kefbmuq70ce7g84ra0tc8gm043i45c7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96496652001-kefbmuq70ce7g84ra0tc8gm043i45c7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBkaHyRt49Yc_T54I0GaJ9hAYjmYxHNyM4</string>
	<key>GCM_SENDER_ID</key>
	<string>96496652001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Iram.FirebaseLesson2Iram</string>
	<key>PROJECT_ID</key>
	<string>posttracker-cfca2</string>
	<key>STORAGE_BUCKET</key>
	<string>posttracker-cfca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96496652001:ios:b5bebd2c55eb751337b1a0</string>
	<key>DATABASE_URL</key>
	<string>https://posttracker-cfca2.firebaseio.com</string>
</dict>
</plist>